/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #c0b5fa,#dedbf4);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4b2e83; 
    background: url('coffee.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;

    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    overflow: hidden;

}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #5b4585;
    opacity: 0.8;
    z-index: 1;
}

header .logo, header nav {
    position: relative;
    z-index: 2;
}

nav {
    background-color: #4b2e83;
    padding: .2rem 1rem;
    border-radius: 20px;
    border: 1px solid white;
    border-color: white;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
                box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

nav:hover {
    transform: translateY(-0.1rem) scale(1.1);
    scale: 1.0;
    border: 2px solid gold;
}

header .logo img {
    height: 200px;
    width: auto;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
}

main {
    flex: 1;
    padding: 2rem;
    display: flex;
    gap: 2rem;
}

#hero {
    text-align: center;
    margin-bottom: 2rem;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    flex: 1;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
                box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 3px solid gold;
}

.menu-heading {
    text-decoration: underline;
    margin-top: 0;
    padding-top: 0;
    font-size: 1.8rem;
}

.menu-button {
    height: 3rem;
    width: auto;
    font-family: Arial, sans-serif;
    font-size: .9rem;
    background-color: #4b2e83;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.menu-button:hover {
    background-color: grey;
}

footer {
    background-color: #4b2e83;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}



/* Additional CSS Edits by Antony */

ul {
    list-style-type: none;
    padding: 0;
}

li.category {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

li.category, li.subcategory-item {
    /* Makes text unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li.category:hover, li.subcategory-item, .clickable {
    cursor: pointer;
}

.signout {
    font-weight: bold;
}