#employee-background {
    background: radial-gradient(circle, #b19cd9, #926dcc, #4b2e83);
}

#login-container {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.input-field {
    display: flex;
    flex-direction: column;
}