/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#c8befa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4b2e83; 
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    overflow: hidden;
}



header .logo img {
    height: 200px;
    width: auto;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
}

main {
    flex: 1;
    padding: 2rem;
    display: flex;
    gap: 2rem;
}

#hero {
    text-align: center;
    margin-bottom: 2rem;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    flex: 1;
}

footer {
    background-color: #4b2e83;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}



/* Additional CSS Edits by Antony */

ul {
    list-style-type: none;
    padding: 0;
}

li.category {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

li.category, li.subcategory-item {
    /* Makes text unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li.category:hover, li.subcategory-item, .clickable {
    cursor: pointer;
}

#store-open-employee {
    padding-bottom: 16px;
}

#soonest-order {
    padding-bottom: 16px;
}

.signout {
    font-weight: bold;
}