.pay-button {
    height: 3rem;
    width: 7rem;
    font-family: Arial, sans-serif;
    font-size: .9rem;
    background-color: #4b2e83;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.pay-button:hover {
    background-color: grey;
}


#order-header {
    text-align: center;
    text-decoration: underline;
}

.cart-item {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}