body {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pay-button {
    height: 3rem;
    width: 7rem;
    font-family: Arial, sans-serif;
    font-size: .9rem;
    background-color: #4b2e83;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 16px auto 0;
}

.pay-button:hover {
    background-color: grey;
}

#order-container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

#order-header {
    text-align: center;
    text-decoration: underline;
}

.content-container {
    width: 45%;
}

#order-info {
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 16px;
}

.cart-item {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.time {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    gap: 8px;
}

.card-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.card-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
}

#order-info-content {
    position: sticky;
    top: 25%;
}

#review-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 40px 0px
}

input[type='text'], input[type='password'] {
    padding: 4px 8px;
}

.card-row > input[type='text'], .card-row > input[type='password'] {
    width: 100%;
}